In [ ]:
t = ('m','a','t','a','h','a','r','i')

t1 = ('a',)
print(type(t1))

In [ ]:
t = ('m','a','t','a','h','a','r','i')
t2 = ('a')
print(type(t2))

In [ ]:
t = ('m','a','t','a','h','a','r','i')
t = tuple()
print(t)

In [ ]:
t = tuple('dutawacana')
print(t)

In [ ]:
t = ('m','a','t','a','h','a','r','i')
print(t[0])

In [ ]:
t = ('m','a','t','a','h','a','r','i')
print(t[1:3])

In [ ]:
t = ('m','a','t','a','h','a','r','i')
t = ('B',) + t[1:]
print(t)

In [ ]:
kalimat = 'namun ketik pertama kali kulihat wajah nya dibawah sinar matahari '
dafkata = kalimat.split()
t = list()
for kata in dafkata:
    t.append((len(kata), kata))

t.sort(reverse=True)

urutan = list()
for length, kata in t:
    urutan.append(kata)

print(urutan)

In [ ]:
m = [ 'matahari', 'bersinar' ]
x = m[0]
y = m[1]
print(x, y)

In [ ]:
m = [ 'pak dida', 'manis' ]
(x, y) = m
print(x,y)

In [ ]:

email = 'matahari@ti.ukdw.ac.id'
username, domain = email.split('@')
print(username)
print(email)

In [ ]:

d = {'a':10, 'b':1, 'c':22}
t = list(d.items())
print(t)

In [ ]:

d = {'a':10, 'b':1, 'c':22}
t = list(d.items())
print(t)

In [ ]:
d = {'a':10, 'b':1, 'c':22}
t = list(d.items())
[('b', 1), ('a', 10), ('c', 22)]
t.sort()
print(t)

In [ ]:
d = {'a':10, 'b':1, 'c':22}
l = list()
for key, val in d.items() :
    l.append( (val, key) )
print(l)

In [ ]:
import string
fhand = open('romeo-full.txt')
counts = dict()
for line in fhand:
    line = line.translate(str.maketrans('', '', string.punctuation))
    line = line.lower()
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

 # urutkan dictionary by value
lst = list()
for key, val in list(counts.items()):
    lst.append((val, key))
lst.sort(reverse=True)
for key, val in lst[:10]:
    print(key, val)

In [ ]:
last = 'pak dida'
first = 'matahari'
number = 'no HP088112266'
directory = dict()
directory[last, first] = number
for last, first in directory:
    print(first, last, directory[last,first])